
.navigation{
    border-top: 1px solid #F4F4F4;
    border-bottom: 1px solid #F4F4F4;
    padding-top: 50px;
    padding-bottom: 50px;
}

.navigation h3{
  color: #dc3545;

}

.navigation p{
  color: #555;
}

.project {
  position:relative;

}

.project .project-hover .project-hover-inner h5{
  color: #fff;
}


.text-block{
  position:absolute;
  bottom: 0px;
  left: 0px;
  right:0px;
  background-color:#fff;
  padding-left: 15px;
}

.text-block h3{
  color: #dc3545;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .1em;
  padding-top: 10px;
}



.project-title .caption {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}


.templateux-navbar {
  position: inherit;
  background-color: #fff;
  padding: 18px 0;
}

.if-cover {
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.if-cover img {
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.if-ribbon .caption {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  color: #555;
  font-weight: bold;
}

.templateux-hero, .intro {
  height: 0;
}

.templateux-hero {
  margin-bottom: 2em;
}

.templateux-section {
  padding: 0 0 2em 0;
}

.templateux-section .row {
  padding-bottom: 2em;
}

.list-group {
  padding-left: 1em;
}

span.title {
  font-weight: bold;
  color: #555;
  display: block;
}

ol.tasks li {
  padding-bottom: 1em;
}

.templateux-footer {
  padding: 0;
}


